.action-button{
    background-color: #b657af;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    order: 500;
    border: 3px solid #b657af;
    border-radius: 10px;
}


@media (min-width: 650px){
    .action-button{
        width: 226px;
        height: 206px;
    }
}

@media (max-width: 649px){
    .action-button{
        width: 300px;
    }
}
