
@media (min-width: 650px){
    .habit-box{
        width: 234px;
    }
}

@media (max-width: 649px){
    .habit-box{
        max-width: 400px;
    }
}

.habit-box{
    height: max-content; 
}

.week-selector{
    margin:15px 0px 15px 0px;
}

.form-element-label{
    margin-bottom: 10px;
}